.jumbotron{
    background-color: rgb(235, 166, 204);
    color:rgb(255, 255, 255)
    
    }
    body{
    background-color: rgb(193, 224, 245);
    
    }
    
    .btn{
    background-color:lightskyblue;
    
    
    }